*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.poke-image{
    height: 250px;
    width: auto;
}
table{
    width: 100%;
    text-align: center;
}
th{
    font-size: 1.5rem;
}
.results-header{
    font-size: 3rem;
    text-align: center;
}
